Maven Enforcer Plugin Rule: Property Usage
==========================================

[Maven Enforcer Plugin](http://maven.apache.org/enforcer/maven-enforcer-plugin/)
provides goals to control certain environmental constraints such as Maven version,
JDK version and OS family along with many more standard rules and user created rules.

`${project.artifactId}` is a user created [custom rule](http://maven.apache.org/enforcer/enforcer-api/writing-a-custom-rule.html)
to verify the usage of defined properties in the source files of the build.

It often happens during development that properties are defined and used,
and then taken out of use but definition is forgotten; it gets "left behind"
in the `resources/*.properties` file. This plugin checks that all the defined
properties are used.

* For a quick adoption of the Enforcer rule, check the [Quickstart](quickstart.html) page.
* To know more about the rule's configuration and parameters check the [Usage page](usage.html).
* Released builds are available from [Maven Central](http://search.maven.org/#search%7Cga%7C1%7Cchar-set-encoding-rule).
